.p1{
  background-color: red;
  font-size: 67px;
  color: green;
  font-weight: ;
  font-family: 'Arial';
  src:url('fonts/roboto.ttf');
  letter-spacing: 1px;
  word-spacing: 100px;
  text-shadow: 5px 4px 3px #999;
  background-image: url(dubi.png);
  opacity: 100%;
}
.ol1{
  list-style-type: decimal;
  list-style-image: url(phone_touch.php);
}
.image{
  float: left;
  margin: 10px;
  margin-top: 0px;
}
.sudebar{
  border: 2px solid #ccc;
  
}
